[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-otp = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
isort = "*"
mypy = "*"
django-stubs = "*"
django-types = "*"

[requires]
python_version = "3.11"
